*{
    box-sizing: border-box;
}

*::before,
*::after{
    box-sizing: border-box;
}
p{
    font-size: 16px;
    text-align: center;
    font-family: sans-serif;
    margin-top: 35px;
}
#gift{
    display: block;
    margin: auto;
    width: 300px;height: 300px;
    margin-top: 15vh;
}
#coupon{
    width: 300px;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}
#index{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
body{
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 2;
    margin: 0;
    min-height: 100vh;
    background-color:rgb(155, 206, 155);
    font-weight: 700;
}

#textbox{
    font-size: 15px;
    margin-top: 25px;
    border-radius: 1em;
    padding: 1em 2em;
    border: 2px solid rgb(106,163,137);
    background: rgb(205,255,232);
    transform-style: preserve-3d;
    transition: all 175ms cubic-bezier(0,0,1,1);
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 700;
}
button{
    position:relative;
    display: inline-block;
    cursor:pointer;
    outline: none;
    border:0;
    vertical-align: middle;
    text-decoration: none;
    font-size: 15px;
    color: rgb(106,163,137);
    font-weight: 700;
    text-transform: uppercase;
    font-family: inherit;
}
#giftbutton1{
    font-size: 30px;
    margin: 10px;
    margin-top: 10vh;
}
#giftbutton2{
    font-size: 30px;
    margin: 10px;
    margin-top: 10vh;
}
#giftbutton3{
    font-size: 30px;
    margin: 10px;
    margin-top: 10vh;
}
#exitbtn{
    font-size: 10px;
    position: absolute;
    padding: 10px 20px;
    border-radius: 2em;
    border: 2px solid rgb(106,163,137);
    background: rgb(205,255,232);
    margin-top: 190px;
}
#exitbtn2{
    font-size: 10px;
    position: absolute;
    padding: 10px 20px;
    border-radius: 2em;
    border: 2px solid rgb(106,163,137);
    background: rgb(205,255,232);
    margin-top: 190px;
}
button.big-button{
    padding: 1em 2em;
    border: 2px solid rgb(106,163,137);
    border-radius:1em;
    background: rgb(205,255,232);
    transform-style: preserve-3d;
    transition: all 175ms cubic-bezier(0,0,1,1);
    margin: 10px;
}
button.big-button::before{
    position:absolute;
    content: "";
    width:100%;
    height:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:rgb(150,232,195);
    border-radius: inherit;
    box-shadow:0 0 0 2px rgb(106,163,137),
    0 0.75em 0 0 rgb(106,163,137);
    transform: translate3d(0,0.75em,-1em);
    transition: all 175ms cubic-bezier(0,0,1,1);
}
button.big-button:hover{
    background: rgb(187,232,211);
    transform:translate(0,0.375em);
}
button.big-button:hover::before{
    transform: translate3d(0,0.75em, -1em);
}
button.big-button:active{
    transform: translate(0em,0.75em);
}
button.big-button:active::before{
    transform: translate3d(0,0,-1em);
    box-shadow: 0 0 0 2px rgb(187,232,211),
    0 0.25em 0 0 rgb(187,232,211);
}
#my-canvas{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.popup{
    border-radius: 2em;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgb(223, 255, 212);
    width: 350px;
    height: 250px;
    box-shadow: 0 25px 50px rgba(0,0,0,0.1),
    0 0 0 1000px rgba(92, 86, 86, 0.667);
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
.popup.active{
    visibility: visible;
}
.popup1{
    border-radius: 2em;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgb(223, 255, 212);
    width: 350px;
    height: 250px;
    box-shadow: 0 25px 50px rgba(0,0,0,0.1),
    0 0 0 1000px rgba(92, 86, 86, 0.667);
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
.popup1.popup.active{
    visibility: visible;
}